
@{
    ViewBag.Title = "Guide";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="header-inner header-inner-menu bg-overlay-black-50" style="background-image: url('images/header-inner/09.jpg');">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-md-12">
                <div class="header-inner-title text-center">
                    <h1 class="text-white font-weight-normal">Hướng dẫn</h1>
                    <ol class="breadcrumb d-flex justify-content-center ml-auto">
                        <li class="breadcrumb-item"><a class="text-dark" href="/"><i class="fas fa-home mr-1"></i>Trang chủ</a></li>
                        <li class="breadcrumb-item active text-primary"><span>Hướng dẫn</span></li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="space-ptb">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <div class="service-details">
                    <img class="img-fluid border-radius mb-4 mb-md-5" src="images/header-inner/09.jpg" alt="">
                    <h4 class="font-weight-bold">THỦ TỤC CẤP PHÉP THỰC HIỆN CHƯƠNG TRÌNH KHUYẾN MẠI</h4>
                    <p class="mb-4">Cuối năm công ty bạn muốn tổ chức các chương trình khuyến mãi qua SMS để thu hút khách hàng nhưng thủ tục xin giấy phép chương trình khuyến mại như thế nào? Phải làm thủ tục ở đâu? Sau đây chúng tôi sẽ cung cấp một số thông tin tư vấn cho bạn:</p>

                    <div class="row d-flex justify-content-center mt-5">
                        <div class="col-lg-12">
                            <div class="section-title mb-4">
                                <h5>A. XIN GIẤY PHÉP TỔ CHỨC CHƯƠNG TRÌNH KHUYẾN MẠI</h5>
                                <p>Thủ tục xin giấy phép khuyến mại : trước tối thiểu 7 ngày thực hiện chương trình khuyến mãi quý doanh nghiệp phải gửi hồ sơ lên cho sở công thương về chương trình khuyến mãi của mình.</p>
                            </div>
                        </div>
                    </div>
                    <div class="row d-flex justify-content-center">
                        <div class="col-lg-12">
                            <div class="accordion" id="career-opportunities">
                                <div class="card">
                                    <div class="accordion-icon card-header" id="headingOne">
                                        <h4 class="mb-0">
                                            <button class="btn" type="button" data-toggle="collapse" data-target="#security-manager" aria-expanded="true" aria-controls="security-manager">1. Hồ sơ đăng ký chương trình khuyến mại</button>
                                        </h4>
                                    </div>
                                    <div id="security-manager" class="collapse " aria-labelledby="headingOne" data-parent="#career-opportunities">
                                        <div class="card-body">

                                            <ul class="list list-unstyled ckeck-list mb-0">
                                                <li class="d-flex"><i class="fas fa-check pr-2 pt-1 text-primary"></i><span>Văn bản đăng ký thực hiện khuyến mại.</span></li>
                                                <li class="d-flex"><i class="fas fa-check pr-2 pt-1 text-primary"></i><span>Thể lệ chương trình khuyến mại.</span>></li>
                                                <li class="d-flex"><i class="fas fa-check pr-2 pt-1 text-primary"></i><span>Mẫu thẻ cào dự thưởng đối với chương trình khuyến mại có phát hành thẻ cào dự thưởng.</span></li>
                                                <li class="d-flex"><i class="fas fa-check pr-2 pt-1 text-primary"></i><span>Hình ảnh hàng hóa khuyến mại và hàng hóa dùng để khuyến mại.</span></li>
                                                <li class="d-flex"><i class="fas fa-check pr-2 pt-1 text-primary"></i><span>Mẫu bằng chứng xác định trúng thưởng (nếu có).</span></li>
                                                <li class="d-flex"><i class="fas fa-check pr-2 pt-1 text-primary"></i><span>Bản sao Giấy chứng nhận chất lượng hàng hóa khuyến mại và hàng hóa dùng để khuyến mại theo quy định của pháp luật (nếu có).</span></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="accordion-icon card-header" id="headingTwo">
                                        <h4 class="mb-0">
                                            <button class="btn collapsed" type="button" data-toggle="collapse" data-target="#business-partner" aria-expanded="false" aria-controls="business-partner">2. Phạm vi tổ chức chương trình khuyến mãi</button>
                                        </h4>
                                    </div>
                                    <div id="business-partner" class="collapse" aria-labelledby="headingTwo" data-parent="#career-opportunities">
                                        <div class="card-body">

                                            <ul class="list list-unstyled ckeck-list mb-0">
                                                <li class="d-flex"><i class="fas fa-check pr-2 pt-1 text-primary"></i><span>Trường hợp 1: Chương trình khuyến mại được tổ chức trên phạm vi 1 tỉnh, thành phố thì các bạn phải đăng ký chương trình khuyến mại tại Sở Công Thương tỉnh, thành phố nơi tổ chức chương trình khuyến mại.</span></li>
                                                <li class="d-flex"><i class="fas fa-check pr-2 pt-1 text-primary"></i><span>Trường hợp 2: Chương trình khuyến mại được tổ chức trên phạm vi từ 2 tỉnh, thành phố trở lên thì chương trình khuyến mại phải được đăng ký tại Cục Xúc tiến thương mại của Bộ Công thương.</span></li>
                                            </ul>
                                            <br />
                                            <p class="mb-4"><span>Khi thuê đầu số 8077 để thực hiện chương trình khuyến mại, chúng tôi hỗ trợ bạn làm thủ tục trọn gói xin giấy phép thực hiện chương trình khuyến mại từ Cục xúc tiến thương mại của Bộ Công thương chỉ 3.000.000 đồng.</span></p>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="row d-flex justify-content-center mt-5">
                        <div class="col-lg-12">
                            <div class="section-title mb-4">
                                <h5>B. MẪU HỖ SƠ XIN GIẤY PHÉP TỔ CHỨC CHƯƠNG TRÌNH KHUYẾN MẠI</h5>
                                <p>Tùy theo đặc thù của từng hình thức khuyến mại mà sẽ có các biểu mẫu xin giấy phép khác nhau</p>
                                <ul>
                                    <li>Dowload mẫu xin giấp phép: <a href="https://drive.google.com/drive/folders/1YftUiyE9EybKMME4Jr3Sod5VVSsurg2h">Tại đây</a></li>
                                </ul>
                                <p>
                                    Nếu công ty bạn đang cần tìm hiểu và muốn triển khai giải pháp qua đầu số SMS hãy để lại thông tin để được tư vấn và hỗ trợ ngay.
                                    <br />
                                    Hotline: 0986113058 hoặc 0129.749.6688
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>