@model IEnumerable<Worthy.Models.Post>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <div class="card-header">
        <h3 class="card-title">DataTable with default features</h3>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
        <table id="example1" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Tên bài viết</th>
                    <th>Ảnh đại diện</th>
                    <th>Ngày tạo</th>
                    <th>Nội dung bài viết</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Title</td>
                        <td>
                            <img width="100" src="@item.Thumbnail" />
                        </td>
                        <td>
                            @item.Create_date
                        </td>
                        <td>@item.Description</td>
                        <td>
                            <a class="btn" href="/admin/posts/edit/@item.Post_ID"><i class="fa fa-edit fa-fw"></i></a>
                            <a class="btn" href="/admin/posts/delete/@item.Post_ID"><i class="fa fa-trash"></i></a>
                        </td>
                    </tr>
                }

            </tbody>

        </table>
    </div>
    <!-- /.card-body -->
</div>

